body {
    min-width: 1100px;
}

.main-bg-wrapper {
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.workfield {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}