body {
    min-width: 1100px;
}

.main-bg-wrapper {
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.workfield {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-shinobi-container {
    background-color: rgba(255, 187, 128, 0.52);
    font-size: 2em;
    color: black;
}

.th-shinobi-container {
    color: black;
}

.table-shinobi-container:hover {
    background-color: rgba(255, 187, 128, 1);
}

.td-shinobi-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.th-shinobi-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-shinobi-container:hover {
    background-color: rgb(245, 255, 0);
}

.td-shinobi-container > div > button {
    border-radius: 0px;
}